In [13]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request
import re
import requests

In [51]:
df=pd.read_excel(r'C:\Users\PranavM\OneDrive\AOC.xlsx')
df

      num
0    1028
1    1987
2    1938
3    1136
4    1503
..    ...
195  1967
196  1098
197  1287
198  1392
199  1932

[200 rows x 1 columns]

In [62]:
list1=df['num'].tolist()
max(list1)
list1.sort()

[149,
 339,
 530,
 644,
 846,
 855,
 935,
 968,
 990,
 1028,
 1052,
 1057,
 1077,
 1087,
 1091,
 1092,
 1098,
 1102,
 1103,
 1107,
 1110,
 1112,
 1116,
 1117,
 1119,
 1123,
 1125,
 1127,
 1131,
 1136,
 1146,
 1169,
 1173,
 1181,
 1184,
 1185,
 1186,
 1190,
 1193,
 1203,
 1207,
 1214,
 1215,
 1222,
 1241,
 1253,
 1262,
 1267,
 1287,
 1290,
 1295,
 1297,
 1300,
 1307,
 1315,
 1321,
 1337,
 1363,
 1367,
 1372,
 1373,
 1375,
 1384,
 1392,
 1393,
 1412,
 1421,
 1439,
 1443,
 1447,
 1451,
 1452,
 1456,
 1460,
 1464,
 1477,
 1481,
 1485,
 1491,
 1493,
 1494,
 1498,
 1499,
 1502,
 1503,
 1506,
 1518,
 1545,
 1579,
 1591,
 1612,
 1654,
 1676,
 1686,
 1693,
 1708,
 1735,
 1767,
 1778,
 1791,
 1810,
 1863,
 1878,
 1890,
 1900,
 1912,
 1922,
 1932,
 1938,
 1946,
 1959,
 1974,
 1986,
 1997,
 2007]

In [63]:
i=0
for num in list1:
    a=i+1
    while a<199:
        b=a+1
        while b<199:
            e=list1[i]+list1[a]+list1[b]
            if e==2020:
                print(list1[a]*list1[i]*list1[b],list1[i],list1[a],list1[b])
            b=b+1
        a=a+1
    i=i+1

288756720 530 644 846

In [60]:
len(list1)

115