In [1]:
import pandas as pd
import re
df=pd.read_excel(r'C:\Users\PranavM\OneDrive\AOC5.xlsx',na_filter=False)
df

           Pass
0    BBFBBBFLRR
1    BBFBFBFLLL
2    FFBBBFBLLL
3    BFBFBFBRLR
4    BFFFFFFLRR
..          ...
870  FFBBFBFLLL
871  BFFFFBBRRR
872  FBBBBFFRLR
873  FBBFFFFRLL
874  BFBBFBFLRR

[875 rows x 1 columns]

In [2]:
list1=df['Pass'].tolist()

In [3]:

def con_bin(str1,ones,zeroes):
    new_str=str1.replace(ones,'1')
    new_str=new_str.replace(zeroes,'0')
    new_str=int(new_str)
    return (new_str)

In [4]:
def binaryToDecimal(binary): 
      
    binary1 = binary 
    decimal, i, n = 0, 0, 0
    while(binary != 0): 
        dec = binary % 10
        decimal = decimal + dec * pow(2, i) 
        binary = binary//10
        i += 1
    return (decimal)
binaryToDecimal(111)

7

In [5]:
def seatid(row1,colum):
    val=row1*8 + colum
    return(val)

seatid(44,5)

357

THIS IS THE SOLUTION TO PART 1

In [6]:
list2=[]
for entry in list1:
    rows=entry[:7]
    rows=con_bin(rows,'B','F')
    rows=binaryToDecimal(rows)
    cols=entry[-3:]
    cols=con_bin(cols,'R','L')
    cols=binaryToDecimal(cols)
    id1=seatid(rows,cols)
    list2.append(id1)
    
print(max(list2))

974

THIS IS SOLUTION TO PART 2

In [8]:
list2.sort()
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst]
print(find_missing(list2))

[646]